<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- NOTE : classe to json, post/get, IHM -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>test : {{patientTest?.name}}</span>
  <div class="spacer"></div>
</div>

<div>
  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
    viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>
</div>
<!--<pre>{{patientTest|json}}</pre> -->
<br>
<div *ngIf="selecteur==0">
<div id='messageAccueil'>Bienvenue sur votre espace personel</div>
<br>
<div id='sousTitre'>Vos informations personnelles :</div>
<table id='dataTable' width:1000>
  <tr><td width:400>Nom</td><td width:600>{{patientTest.name}}</td></tr>
  <tr><td>Sexe</td><td>{{patientTest.gender}}</td></tr>
  <tr><td>Date de naissance</td><td>{{dateFormat}}</td></tr>
  <tr><td>adresse</td><td>{{patientTest.adresse}}</td></tr>
</table>

<div id='boutons'><div (click)="button1()" class='boutontab' id='boutontab1'>Prescription</div><div (click)="button2()" class='boutontab'>Allergie</div></div>
</div>
<div *ngIf="selecteur==1"><div id='sousTitre'>Prescription</div>
<br>
<p *ngFor="let p of listePrescription" (click)="afficher(p)">{{p.name}}</p>
<br>
</div>
<div *ngIf="selecteur==2"><div id='sousTitre'>Allergies</div>
<br>
<table id='dataTable'>
<tr *ngFor="let allergie of listeAllergie"><td>{{allergie.substance}}</td><td>{{allergie.manifestation}}</td></tr>
</table>
<br>
<p *ngIf="add==0 " (click)="buttonadd()" id='bouton'>ajout allergie</p>
<table *ngIf="add==1 ">

  <tr ><td>substance</td><td>symptome</td></tr>
  <tr><td><input id="subst" type="text" [(ngModel)]="subst"></td>
    <td><input id="sympt" type="text" [(ngModel)]="sympt"></td></tr>
    <tr><td *ngIf="errorSubst" id='erreur'>veuillez renseigner la substance</td><td *ngIf="errorSympt" id='erreur'>veuillez renseigner les symptomes</td></tr>
</table>
<br *ngIf="errorSubst!=1 && errorSympt!=1">
<p *ngIf="add==1 " (click)="ajouterAllergie()" id='bouton'>confirmer</p>
<br *ngIf="add==1 ">
</div>
<div *ngIf="selecteur==4">
  <div>{{prescriptionafficher.name}}</div>
  <div>{{prescriptionafficher.medecin}}</div>
  <div>{{prescriptionafficher.tarif}}</div>
  <br>
  <p (click)="button1()" id='bouton'>retour prescription</p>
</div>
<br>
<p (click)="button0()" *ngIf="selecteur!=0" id='bouton'>retour</p>
<!--<pre>{{patientTest|json}}</pre>-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>